body { font-family: montserrat;
     padding: 0px; 
     margin: 0px; 
     color: white; }

.home-page {background-image: url("C:/Users/Brayden/Desktop/image.jpg");
 flex-direction: row;
  background-position: center;
   background-repeat: no-repeat; 
   background-size: cover;}
 
 
 .tint { background-color: rgba(0, 0, 0, .4); z-index: 1;}
 .header { border-bottom: 4px solid white;
padding: 5px; margin: 0px 35px;
 display: flex; flex-direction: row; 
 justify-content: space-between; }
span .tlfreshest { font-weight: 600;}
.navigation { font-weight: 400;}
 .center-content { display: flex; 
 justify-content: center; align-items:
 center; flex-direction: column;}
 h1 { border-bottom: 2px solid white;
padding: 150px 45px 10px 45px; 
font-size: 100px; margin-bottom: 10px;}
.tagline { font-size: 45px; 
 margin-top: 0px; 
padding-top: 0px; 
font-weight: 200;
padding-bottom: 200px;}img { height: 30%; width: 40%; }
.breadhands { display: flex;}
.lorem { color:white; 
font-size: 20px; 
margin: 0px 60px;}
.text-portion{ display: flex; 
 flex-direction: column; 
justify-content: center; 
background-color: black; 
color: white;}
h2 { font-size: 60px;
 margin: 20px 60px;}
p { font-weight: 200;}
.pineappleglasses { display: flex;
 flex-direction: row-reverse;}
.text-portion2{ display: flex; 
 flex-direction: column; 
 justify-content: center; 
background-color: #101010; 
color: white; }
.text-portion3{ display: flex;
flex-direction:
column; justify-content: center;
 background-color: #151515; color: white; }
.pastabowl { display: flex;}
.span {font-size: 30px;}